{{template "base" .}}

{{define "content"}}
  <label>Query</label>
  <textarea rows="6" id="search-query">{{.SearchQuery}}</textarea>
  <button id="search-button">Search</button>

  {{if .SearchQuery}}
    <h3>Search Results</h3>
  {{end}}
  {{range .ItemList}}
    <details name="search-result" >
      <summary><a href="/{{.Topic}}#{{.Name}}">{{.Name}}</a></summary>
      <p>{{.Description}}</p>
    </details>
  {{end}}

  <script>
    document.getElementById('search-button').addEventListener('click', function() {
      const query = document.getElementById('search-query').value;
      window.location.href = `/?q=${encodeURIComponent(query)}`;
    });
  </script>
{{end}}
