<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Semantic Search</title>
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
  <style>
    .nav {
      list-style: none;
      display: flex;
      gap: 1rem;
      justify-content: center;
      padding: 0;
    }
    .nav a {
      text-transform: capitalize;
    }
  </style>
</head>
<body>
  <header>
    <h2>Semantic Search</h2>
    <ul class="nav">
      <li><a style="text-transform: capitalize;" href="/">Search</a></li>
      <li>|</li>
      {{range .TopicList}}
        <li><a style="text-transform: capitalize;" href="/{{.}}">{{.}}</a></li>
      {{end}}
    </ul>
  </header>
  <main>
    {{range .ItemList}}
      <h3 id="{{.Name}}">{{.Name}}</h3>
      <p>{{.Description}}</p>
    {{end}}
  </main>
  <footer>
    <p>2026</p>
  </footer>
</body>
</html>